# Build artifacts
build/
build-logs/

# Patched source trees (copied from submodules + patches)
sources-build/
sources-patched/

# Staging rootfs
rootfs/


# Bootloader binary
bootsect.bin

# Disk image
disk.img
*.qcow2
/testsuite/
/library/
/local/
/po-man/
