[submodule "sources/bash"]
	path = sources/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "sources/coreutils"]
	path = sources/coreutils
	url = https://git.savannah.gnu.org/git/coreutils.git
[submodule "sources/grep"]
	path = sources/grep
	url = https://git.savannah.gnu.org/git/grep.git
[submodule "sources/sed"]
	path = sources/sed
	url = https://git.savannah.gnu.org/git/sed.git
[submodule "sources/gawk"]
	path = sources/gawk
	url = https://git.savannah.gnu.org/git/gawk.git
[submodule "sources/findutils"]
	path = sources/findutils
	url = https://git.savannah.gnu.org/git/findutils.git
[submodule "sources/diffutils"]
	path = sources/diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "sources/gzip"]
	path = sources/gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "sources/tar"]
	path = sources/tar
	url = https://git.savannah.gnu.org/git/tar.git
[submodule "sources/vim"]
	path = sources/vim
	url = https://github.com/vim/vim.git
[submodule "sources/procps-ng"]
	path = sources/procps-ng
	url = https://gitlab.com/procps-ng/procps.git
[submodule "sources/iproute2"]
	path = sources/iproute2
	url = https://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "sources/util-linux"]
	path = sources/util-linux
	url = https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
[submodule "sources/runit"]
	path = sources/runit
	url = https://github.com/g-pape/runit.git
[submodule "sources/dhcpcd"]
	path = sources/dhcpcd
	url = https://github.com/NetworkConfiguration/dhcpcd.git
[submodule "sources/linux-libre"]
	path = sources/linux-libre
	url = git://linux-libre.fsfla.org/releases.git
[submodule "sources/gnulib"]
	path = sources/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "sources/toolchain/binutils"]
	path = sources/toolchain/binutils
	url = https://sourceware.org/git/binutils-gdb.git
	ref = refs/tags/binutils-2_47
	commit = 6ce87bbc521cf46eaee9a1f7ef61cee2cdfb3e32
[submodule "sources/toolchain/gcc"]
	path = sources/toolchain/gcc
	url = https://gcc.gnu.org/git/gcc.git
	ref = refs/tags/releases/gcc-15.3.0
	commit = 4db0e8df15bef836558857c291c323add11d035c
[submodule "sources/toolchain/glibc"]
	path = sources/toolchain/glibc
	url = https://sourceware.org/git/glibc.git
	ref = refs/tags/glibc-2.43
	commit = f762ccf84f122d1354f103a151cba8bde797d521
[submodule "sources/toolchain/bc"]
	path = sources/toolchain/bc
	url = https://github.com/gavinhoward/bc.git
	ref = refs/tags/7.1.0
	commit = 70c51d95e02d20fc3fc82791dc3f1aa0e9d47f0d
[submodule "sources/toolchain/perl"]
	path = sources/toolchain/perl
	url = https://github.com/Perl/perl5.git
	ref = refs/tags/v5.44.0
	commit = e634cc838fb1785dfafb5d13b52807ea16b5c52c
